* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Euclid Circular A';
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-text-primary);
}

.container {
  max-width: 1220px;
  padding: 0 60px;
  margin: 0 auto;
}

@media ( max-width: 1220px ) {
  .container {
    padding: 0 40px;
  }
}

@media ( max-width: 767px ) {
  .container {
    padding: 0 30px;
  }
}

@media ( max-width: 575px ) {
  .container {
    padding: 0 16px;
  }
}