.button {
  width: 199px;
  height: 52px;
  text-align: center;
  background: var(--color-main);
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-family: 'Euclid Circular A';
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0;
  cursor: pointer;
}