:root {
  --color-main: #0962E8;
  --color-text-primary: #29374E;
  --color-text-secondary: #1E2837;
  --color-background-hero: #CBECFF;
  --color-background-products: #E9F6FF;
  --color-background-icon: #EFF9FF;
}